/**************************/
/***** INDEX ME HTML ******/
/**************************/
:root {
    --brown: #412411;
    /* This is an example */
    /* Create your own color variables */
    /* At most I recommend using 3 colors 
      that will be used accross your website */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Choose your font family here
        or you can add it later */
}

body {
    background-color: #c5638a;
    /* the bg color would be the same as your 
        quote section bg color */
}

header {
    display: block;
}

/***  LANDING PAGE ***/
header img {
    width: 50px;
}


/***  NAVIGATION BAR ***/
nav {
    display: flex;
    justify-content: flex-end;
    margin: 2%;
}

#navLinks {
    list-style-type: none;
    display: flex;
}


/***  TITLE ***/



/***  QUOTE SECTION ***/



/***  CARDS ***/
.column img {
    height: 100px
}


/***  LAST SECTION ***/



/***  FOOTER ***/







/**************************/
/***** ABOUT ME HTML ******/
/**************************/
/* Use CSS from previous CSS to 
      add and edit here */