/**************************/
/***** INDEX ME HTML ******/
/**************************/
:root {
    --green: #9AB106;
    --cream: #ffffed;
    /* This is an example */
    /* Create your own color variables */
    /* At most I recommend using 3 colors 
      that will be used accross your website */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Choose your font family here
        or you can add it later */
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--green);
    /* the bg color would be the same as your 
        quote section bg color */
}



/***  LANDING PAGE ***/


.landingPage {
    background-image: url("img/waterfall.jpeg");
    min-height: 500px;
    width: 100%;
    opacity: .5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: -1;
}


/***  NAVIGATION BAR ***/
header img {
    width: 50px;
    position: absolute;
    margin: 20px;
}

.navLinks {
    list-style-type: none;
    display: flex;
}

ul.navLinks li {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
}




nav {
    display: flex;
    justify-content: flex-end;
    height: 80px;

}




/***  TITLE ***/



/***  QUOTE SECTION ***/



/***  CARDS ***/
.column img {
    height: 100px
}


/***  LAST SECTION ***/



/***  FOOTER ***/







/**************************/
/***** ABOUT ME HTML ******/
/**************************/
/* Use CSS from previous CSS to 
      add and edit here */